<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Site de Avaliação de Ensino de Inglês</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Educação em Inglês</h1>
            </div>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="form.html">Participar</a></li>
                <li><a href="curiosidades.html">Curiosidades</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>Bem-vindo!</h2>
            <p>Avalie o ensino de inglês nas escolas e descubra oportunidades para melhorar a educação em inglês.</p>
            <a href="form.html" class="button">Preencher Formulário</a>
        </section>
        <section class="about">
            <div class="about-item">
                <h3>Sobre o Projeto</h3>
                <p>Nosso objetivo é coletar dados sobre a qualidade do ensino de inglês nas escolas e o interesse dos alunos em cursos extracurriculares. Ajude-nos a transformar a educação em inglês!</p>
            </div>
            <div class="about-item">
                <h3>Por Que Participar?</h3>
                <p>Seu feedback é fundamental para avaliar e melhorar o ensino de inglês. Participe e faça a diferença na sua comunidade escolar.</p>
            </div>
        </section>
        <section class="cta">
            <h2>Participe Agora!</h2>
            <p>Ajude-nos a entender melhor o ensino de inglês nas escolas. Clique abaixo para preencher o formulário e contribuir para melhorias na educação.</p>
            <a href="form.html" class="button">Preencher Formulário</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>
